{% extends "encyclopedia/layout.html" %}

{% block title %}
    Add Article
{% endblock %}

{% block body %}
    <form action="{% url 'encyclopedia:add' %}" method="post">
        {% csrf_token %}
        <div class="add-container">
            <label for="add-title-textbox">Title</label>
            {{ form.title }}

            <label for="add-content-textarea">Content</label>
            {{ form.content }}

            <input type="submit" value="Create article">
        </div>
    </form>
{% endblock %}